@model WorkflowForms.Core.Models.ApplicationCustomer

@*<h4>ApplicationCustomer</h4>*@
@*<hr />*@
@*<div class="row">
    <div class="col-md-4">*@
        @*<form asp-action="Create">*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="AccountNumber" class="control-label"></label>
    <input asp-for="AccountNumber" id="searchAccount" class="form-control" />
    <span asp-validation-for="AccountNumber" class="text-danger"></span>
    <div class="js-search-customer">
        <a  >
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </div>
</div>
<div class="form-group">
    <label asp-for="FullName" class="control-label"></label>
    <input asp-for="FullName" class="form-control"  disabled="disabled"/>
    <span asp-validation-for="FullName" class="text-danger"></span>
</div>
            <div class="form-group">
                <label asp-for="IDNumber" class="control-label"></label>
                <div >
                    <input asp-for="IDNumber" class="form-control" disabled="disabled"/>
                    <span asp-validation-for="IDNumber" class="text-danger"></span>
                </div>               
            </div>
            <div class="form-group">
                <label asp-for="IDType" class="control-label"></label>
                <input asp-for="IDType" class="form-control" disabled="disabled"/>
                <span asp-validation-for="IDType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNumber" class="control-label"></label>
                <input asp-for="MobileNumber" class="form-control" />
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>*@
    @*</div>
</div>*@

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@



  

